nav {
  display: flex;
  gap: 60px;
  margin-left: auto;
}

a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 500;
  color: black;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }
}

@media (max-width: 640px) {
  nav {
    gap: 25px;
  }

  a {
    font-size: 12px;
    text-transform: uppercase;
  }
}
